body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    
}

.container{
    width: 1070px;
    margin: auto;
}

.flex{
    display: flex;
}

.green-color{
    color: #05c46b;
}

.width-60{
    width: 58%;
    margin-top: 40px;
    margin-right: 1%;
    margin-left: 1%;
}

.width-40{
    width: 38%;
    margin-right: 1%;
    margin-left: 1%;
}
.width-50{
    width: 48%;
}
img{
    max-width: 100%;
}
.text-center{
    text-align: center;
}
section{
    padding: 50px 0;
}
/* hero section */
.hero-text{
    border-left: 5px solid #6b05c4;
}
.hero-text h1 {
    padding-left: 15px;
    font-size: 50px;
    font-family: 'Lobster', cursive;
}
p {
	font-size: 19px;
	line-height: 33px;
	color: #666;
}
.default-btn {
	text-decoration: none;
	background-color: #6b05c4;
	color: #fff;
	padding: 10px 20px;
	border-radius: 7px;
	font-weight: 500;
	margin: 15px 0;
	display: inline-block;
}

/* mission 2022 section */

.container h1{
    font-size: 50px;
}

.mission-iteam{
    width: 31.3%;
    margin-right: 1%;
    margin-left: 1%;
    padding: 30px;
    border-radius: 10px;
}
.mission-iteam img {
    width: 106px;
}

#mission{
    background-color: #d7fcea;
}
#vission{
    background-color: #b5eaf3;
}
#goal{
    background-color: #b5c7fa;
}


/* develop section */
.develop{
    background-image: url(./images/sec-bg.png);
    background-repeat: no-repeat;
    background-position:  left;
    background-size: contain;
}

.develop .width-60 {
	margin-left: 60px;
}
 .width-60 h2 {
	font-size: 34px;
	font-weight: 700;
}
/* contact section */
.form input {
	display: block;
	padding: 10px;
	font-size: 20px;
	border: 1px solid #ddd;
	width: 97%;
	margin-bottom: 15px;
	border-radius: 10px;
}
.form textarea {
	display: block;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 10px;
}
button {
	border: none;
	font-size: 17px;
	font-weight: 500 !important;
}
.image img {
	border-radius: 10px;
	margin-left: 130px;
	width: 393px;
	text-align: right;
}
/* comunity section */
.community{
    background-image: url(./images/sec-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

footer{
    background-color: #0b0d17;
    padding: 20px 0;
    color: #fff;
}
footer h1{
    font-family: 'Lobster', cursive;
}

